/*houdini*/
@property --blink-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

/* #fallback @keyframes blink-animation {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}*/

@keyframes blink-animation {
    0%,
    100% {
        opacity: var(--blink-opacity, 1);
    }
    50% {
        opacity: 0;
    }
}

/*houdini*/
/*base*/
:root {
    font-family: Inter, sans-serif;
    --stripe-color: #fff;
    --bg: var(--stripe-color);
    --maincolor: var(--bg);
}

body {
    width: 100cqw;
    min-height: 100cqh;
    display: flex;
    place-content: center;
    place-items: flex-start center;
    background: var(--bg);
    overflow:hidden;
}

/*custom*/
@keyframes smoothBg {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    --stripes: repeating-linear-gradient(
        100deg,
        var(--stripe-color) 0%,
        var(--stripe-color) 7%,
        transparent 10%,
        transparent 12%,
        var(--stripe-color) 16%
    );

    --rainbow: repeating-linear-gradient(
        100deg,
        #60a5fa 10%,
        #e879f9 15%,
        #60a5fa 20%,
        #5eead4 25%,
        #60a5fa 30%
    );

    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) invert(100%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--stripes), var(--rainbow);
        background-size: 200%, 100%;
        animation: smoothBg 60s linear infinite;
        background-attachment: fixed;
        mix-blend-mode: difference;
    }
}

:has(:checked){
    --stripe-color: #000;
}
:has(:checked) .hero,
:has(:checked) .hero::after {
    filter: blur(10px) opacity(50%) saturate(200%);
}

.content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;
    flex-flow: column;
    gap: 4.5%;
    text-align: center;
    mix-blend-mode: difference;
    -webbkit-mix-blend-mode: difference;
    filter: invert(1);
}

.h1--scalingSize {
    font-size: calc(1rem - -5vw);
    position: relative;
    top: 170px;
}

#switch {
    appearance: none;
    -webkit-appearance: none;
    opacity: 0;
}

[for="switch"] {
    cursor: pointer;
    transition: 0.15s linear(0 0%, 0.16 16.85%, 0.32 31.73%, 1 100%);
    will-change: transform, font-weight;
    padding: 0.5rem;
}

[for="switch"]:where(:hover, :active, :focus-within) {
    /*transform: scale(1.2);
    font-weight: 900;*/
    transition: 0.3s ease;
    animation: animSwitch 0.2s alternate;
    & .icon {
        animation-play-state: paused;
    }
}

@keyframes animSwitch {
    50% {
        transform: scale(1.2);
        font-weight: 900;
    }
}

/*icon houdini*/
.icon {
    width: 1lh;
    height: 1lh;
    aspect-ratio: 1/1;
    padding: 0.25em 0.35rem;
    border-radius: calc(1px / 0);
    border: 1px dashed;
    --blink-opacity: 1;
    animation: blink-animation 2s ease-in-out infinite running;
}

/*challenge*/
.h1--scalingSize::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    background: white;
    text-shadow: 0 0 1px #ffffff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white;
    -webkit-mask: linear-gradient(#000 0 0) luminance;
    mask: linear-gradient(#000 0 0)luminance, alpha;
    backdrop-filter: blur(19px) brightness(12.5);
    -webkit-text-stroke: 1px white;
    display: flex;
    margin: auto;
    z-index: 1;
    pointer-events: none;
}

#github {
    font-size: 50px;
    position: relative;
    left: -475px;
    top: -155px;
}
  
#linkedin {
    font-size: 50px;
    position: relative;
    left: -395px;
    top: -259px;
}

.subtitle {
    font-size: 35px;
    position: relative;
    left: 315px;
    top: -18px;
}

/* 720p monitors */
@media only screen and (min-width: 1024px) and (min-height:768px) and (max-width:1025px){
    
    .h1--scalingSize {
  font-size: calc(1rem - -5vw);
  position: relative;
  top: 135px; 
}

.subtitle {
  font-size: 20px; 
  position: relative;
  left: 178px; 
  top: 35px; 
}

#github {
  font-size: 50px;
  position: relative;
  left: -257px; 
  top: -63px; 
}

#linkedin {
  font-size: 50px;
  position: relative;
  left: -184px; 
  top: -151px; 
}
    
}

/* Galaxy Note 20 (412x915) */
@media only screen and (min-width: 412px) and (min-height: 915px) and (max-height:916px){

    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 20px;
        position: relative;
        left: 65px;
        top: 49px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -156px;
        top: -36px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -122px;
        top: -102px;
      }
}

/* Galaxy Note 20 Ultra (412x883) */
@media only screen and (max-width: 412px) and (min-height: 883px) and (max-height:884px){
    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 20px;
        position: relative;
        left: 65px;
        top: 49px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -156px;
        top: -36px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -122px;
        top: -101px;
      }
}

/* Galaxy S10/S10+ (360x760) */
@media only screen and (max-width: 360px) and (max-height: 760px){

    .h1--scalingSize {
        font-size: calc(1rem - -6vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 18px;
        position: relative;
        left: 48px;
        top: 62px;
      }
    
     #github {
        font-size: 25px;
        position: relative;
        left: -129px;
        top: -15px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -98px;
        top: -74px;
      }
}

/* Galaxy S20 (360x800) */
@media only screen and (max-width:360px) and (min-height:800px) and (max-height:801px){

    .h1--scalingSize {
        font-size: calc(1rem - -6vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 18px;
        position: relative;
        left: 48px;
        top: 62px;
      }
    
     #github {
        font-size: 25px;
        position: relative;
        left: -129px;
        top: -15px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -98px;
        top: -76px;
      }
}

/* Galaxy S20 Ultra (412x915) */
@media only screen and (max-width:412px) and (min-height: 915px){
    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 20px;
        position: relative;
        left: 65px;
        top: 49px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -156px;
        top: -36px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -122px;
        top: -102px;
      }
}

/* Galaxy S20+ (384x854) */
@media only screen and (max-width:384px) and (min-height:854px){
    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 17px;
        position: relative;
        left: 71px;
        top: 71px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -148px;
        top: -8px;
      }
    
      #linkedin {
        font-size: 25px;
        position: relative;
        left: -110px;
        top: -71px;
      }
}

/* iPad iPadOS 14.7.1 (810x1080) */
@media only screen and (max-width:810px) and (min-height:1080px){
    .h1--scalingSize {
        font-size: calc(1rem - -8vw);
        position: relative;
        top: 170px;
      }
      
      .subtitle {
        font-size: 30px;
        position: relative;
        left: 150px;
        top: 35px;
      }
      
      #github {
        font-size: 50px;
        position: relative;
        left: -282px;
        top: -86px;
      }
      
      #linkedin {
        font-size: 50px;
        position: relative;
        left: -215px;
        top: -185px;
      }
}

/* iPhone 11 Pro iOS 14.6 (375x812) */
@media only screen and (min-width:375px) and (max-width:375px) and (min-height:812px) and (max-height:812px){

    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
      .subtitle {
        font-size: 17px;
        position: relative;
        left: 71px;
        top: 61px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -148px;
        top: -19px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -110px;
        top: -81px;
      }
}

/* iPhone 11 Pro Max iOS 14.6 (414x896) */
@media only screen and (max-width:414px) and (min-height:896px){
    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 20px;
        position: relative;
        left: 65px;
        top: 49px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -156px;
        top: -36px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -120px;
        top: -102px;
      }
}

/* iPhone 12/13 + Pro  iOS 14.6 (390x844) */
@media only screen and (min-width:390px) and (max-height:849px){

    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 17px;
        position: relative;
        left: 71px;
        top: 71px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -150px;
        top: -8px;
      }
    
      #linkedin {
        font-size: 25px;
        position: relative;
        left: -110px;
        top: -71px;
      }
}

/* iPhone 12/13 mini iOS 14.6 (375x812) */
@media (min-width:375px) and (min-height:812px) and (max-height:813px){

    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
      .subtitle {
        font-size: 17px;
        position: relative;
        left: 71px;
        top: 61px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -146px;
        top: -19px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -110px;
        top: -81px;
      }
}

/* iPhone 12/13 Pro Max iOS 14.6 (428x926) */
@media only screen and (min-width:428px) and (min-height:926px) and (max-height:927px) {
    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 20px;
        position: relative;
        left: 65px;
        top: 49px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -160px;
        top: -36px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -120px;
        top: -103px;
      }
}

/* iPhone SE 2nd gen iOS 14.6 (375x667) */
@media only screen and (min-width:375px) and (min-height:667px) and (max-height:668px){

    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
      .subtitle {
        font-size: 17px;
        position: relative;
        left: 65px;
        top: 60px;
    }

    #github {
        font-size: 25px;
        position: relative;
        left: -125px;
        top: -11px;
    }

    #linkedin {
        font-size: 25px;
        position: relative;
        left: -86px;
        top: -65px;
    }
}

/* Kindle Fire HDX Linux (800x1280) */
@media only screen and (min-width:800px) and (min-height:1280px) and (max-height:1281px){
    .h1--scalingSize {
        font-size: calc(1rem - -8vw);
        position: relative;
        top: 170px;
      }
      
      .subtitle {
        font-size: 30px;
        position: relative;
        left: 150px;
        top: 46px;
      }
      
      #github {
        font-size: 50px;
        position: relative;
        left: -282px;
        top: -86px;
      }
      
      #linkedin {
        font-size: 50px;
        position: relative;
        left: -215px;
        top: -194px;
      }
}

/* Galaxy Note 9 (414x846) */
@media only screen and (min-width:414px) and (min-height:846px) and (max-height:847px) {

    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
     .subtitle {
        font-size: 20px;
        position: relative;
        left: 65px;
        top: 47px;
      }
    
      #github {
        font-size: 25px;
        position: relative;
        left: -156px;
        top: -36px;
      }
    
     #linkedin {
        font-size: 25px;
        position: relative;
        left: -120px;
        top: -99px;
      }
}

/* Pixel 2 (411x731) */
@media only screen and (min-width:411px) and (max-height:731px){
    .h1--scalingSize {
        font-size: calc(1rem - -7vw);
        position: relative;
        top: 135px;
      }
    
      .subtitle {
        font-size: 18px;
        position: relative;
        left: 75px;
        top: 72px;
      }
    
     #github {
        font-size: 30px;
        position: relative;
        left: -153px;
        top: -8px;
      }
    
     #linkedin {
        font-size: 30px;
        position: relative;
        left: -110px;
        top: -72px;
      }
}

/* Motorola G14 (625x1081) */
@media only screen and (max-width:626px) and (min-height:1081px){
    .subtitle {
        font-size: 27px;
        position: relative;
        left: 108px;
        top: 65px;
      }
    
     #github {
        font-size: 40px;
        position: relative;
        left: -230px;
        top: -48px;
      }
    
     #linkedin {
        font-size: 40px;
        position: relative;
        left: -179px;
        top: -137px;
      }
}

@media only screen and (min-width:626px) and (max-height:1081px) and (orientation:landscape){
    .subtitle {
        font-size: 35px;
        position: relative;
        left: 166px;
        top: 35px;
      }
    
     #github {
        font-size: 50px;
        position: relative;
        left: -322px;
        top: -76px;
      }
    
     #linkedin {
        font-size: 50px;
        position: relative;
        left: -250px;
        top: -154px;
      }
}

/* Moto G14 fixed (2400x1080) */
@media only screen and (max-width:2400px) and (min-height:1080px){

  .h1--scalingSize {
    font-size: calc(1rem - -8vw);
    position: relative;
    top: 170px;
  }
  
  .subtitle {
    font-size: 40px;
    position: relative;
    left: 182px;
    top: -18px;
  }
  
  #github {
    font-size: 55px;
    position: relative;
    left: -360px;
    top: -214px;
  }
  
  #linkedin {
    font-size: 55px;
    position: relative;
    left: -285px;
    top: -377px;
  }
}

@media only screen and (max-width:2400px) and (min-height:1080px) and (orientation:landscape){

  .h1--scalingSize {
    font-size: calc(1rem - -5vw);
    position: relative;
    top: 170px;
  }

 .subtitle {
    font-size: 40px;
    position: relative;
    left: 310px;
    top: -18px;
  }

  #github {
    font-size: 55px;
    position: relative;
    left: -490px;
    top: -160px;
  }

  #linkedin {
    font-size: 55px;
    position: relative;
    left: -416px;
    top: -264px;
  }
}

/* iPhone XR (414x896) */
@media only screen and (min-width:414px) and (max-height:896px){
  .h1--scalingSize {
    font-size: calc(1rem - -8vw);
    position: relative;
    top: 165px;
}

.subtitle {
    font-size: 18px;
    position: relative;
    left: 84px;
    top: 88px;
}

#github {
    font-size: 27px;
    position: relative;
    left: -146px;
    top: 5px;
}

#linkedin {
    font-size: 27px;
    position: relative;
    left: -110px;
    top: -63px;
}
}